
:root {
    --calc-bg-color: #3F3F3F;
    --display-bg-color: #141414;
    --display-font-color: #ccc;
}

html {
    margin:0;
    padding:0;
}

body * {
    font-size: 20px;
    font-family: 'Orbitron', Arial, sans-serif;
}
/*
------------------------------
GENERAL
------------------------------
*/

.btn-group {
    margin: 20px 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-group:last-child {
    margin-bottom: 5px;
}

.btn-group button {
    padding: 10px;
    width: 60px;
    height: 60px;
    font-size: inherit;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 3px;
}

/*
------------------------------
CALCULATOR
------------------------------
*/
.calculator {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 371px;
    min-width: 370px;
    height: auto;
    margin: auto;
    background-color: var(--calc-bg-color);
    border: 3px solid black;
    border-radius: 5px;
}

/*
------------------------------
DISPLAY
------------------------------
*/
.display {
    position: relative;
    width: auto;
    height: auto;
    border: 1px solid var(--calc-bg-color);
    box-sizing: border-box;
}

.display-group {
    position: relative;
    margin: 25px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-sizing: inherit;
}

.clear-btn {
    position: absolute;
    width: 50px;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid black;
    border-radius: 3px 0 0 3px;
    font-size: inherit;
}

.display-input {
    display: block;
    padding: 5px 10px;
    width: 100%;
    color: var(--display-font-color);
    text-align: right;
    font-size: 160%;
    border: 2px solid black;
    background-color: var(--display-bg-color);
    border-radius: 3px;
}

/*
------------------------------
PAD
------------------------------
*/

.pad {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px;
}

