
html {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}



/*
------------------------------
GENERAL
------------------------------
*/

.btn-group {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn-group button {
    padding: 10px;
    width: 50px;
}

/*
------------------------------
CALCULATOR
------------------------------
*/
.calculator {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    min-width: 260px;
    height: auto;
    margin: auto;
    background-color: gray;
}

/*
------------------------------
DISPLAY
------------------------------
*/
.display {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
    box-sizing: border-box;
}

.display--btn {
    position: absolute;
    width: auto;
    height: 100%;
    top: 0;
}

.display--input {
    display: block;
    padding: 10px;
    text-align: right;
}

/*
------------------------------
PAD
------------------------------
*/

.pad {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
}

/* Numbers Pad */

.numbers--pad {
    background-color: lightblue;
    width: 100%;
}

.operations--pad {
    background-color: lightcoral;
}

/* Operations Pad */

